/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
@media screen and (max-width: 900px) {
    .menu {
        overflow: hidden;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 px 0px 40px 0px;
}

.search {
    display: flex;
    justify-content: space-between;
}

.location {
    margin: 30px 0px 0px 0px;
    background: #FCFCFC;
    border: 1px solid #4C84C3;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
}

.location p {
    margin: 10px 20px 10px 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.0075em;
    color: #AAB0B3;
}

.items a {
    display: inline-block;
    margin: 40px 0px 40px 20px;
    color: #545454;
}

.searchh input {
    background: #FCFCFC;
    width: 400px;
    height: 40px;
    border: 1px solid #4C84C3;
    border-radius: 0px 10px 10px 0px;
    margin: 30px 0px 0px 0px;
}

.log {
    margin: 30px 30px 0px 0px;
    border: 0.5px solid #4C84C3;
    padding: 10px;
    border-radius: 10px;
    color: #4C84C3;
    background: white;
    transition-duration: 1s;
}

.log:hover {
    color: white;
    background: #4C84C3;
}

.slid img {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column img {
    max-width: 100%;
}

.column p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin: 40px 0px 20px 0px;
}

.desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #555555;
    margin-bottom: 20px;
}

.titlee {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #4C84C3;
}

.descc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #555555;
}

.column1 {
    width: 10%;
}

.column2 {
    width: 40%;
}

.ema {
    width: 70%;
    height: 40%;
    background-color: #283779;
    border: solid 1px #FCFCFC;
    border-radius: 10px;
}

.column a {
    color: #FCFCFC;
    font-size: 20px;
}

.items img {
    margin-right: 30px;
    margin-top: -20px;
}